@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Noto+Sans+JP&family=Noto+Serif+JP&family=Rampart+One&family=Train+One&display=swap');

:root {
    --bg: #e1e1e1;
    --subBg: #e9e9e9 ;
    --text: #2a2a2a;
    --textSoft: #cacaca;

    --mainColor: #333333;
    --subColor: #f2f2f2 ;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* navbar start */

.navbarContainer{
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    z-index: 999;

}

.navbar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--mainColor);

}

.logo {
    color: var(--textSoft);
    font-size: bold;
    font-size: 32px;
    margin-left: 20px;
}

.links {
    color: var(--textSoft);
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.searchButton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    padding: 5px;
    border-radius: 10px;
}

/* navbar end */

/* footer start */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
}

.social{
    display: flex;
    gap: 10px;
}

/* footer end */


/* hero start */

.heroContainer {
    height: 300px;
    background-color: var(--subBg);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* hero end */


/* list start */

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listItem {
    width: 45%;
    background-color: var(--subColor);
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 10px;
    border-radius: 10px;
    position:relative;
    box-shadow:none;
    padding: 10px;

}


.listItemTitle {
    font-size: 22px;
}

.listItemImage{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.listItemTexts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listItemTexts time{
    font-size: 12px;
}

.listItemDetail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.listItemDesc {
    font-size: 12px;
    /* max-width: 30vw; */
    overflow-wrap: break-word;   
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.listItemAvatar {
 width: 24px;
 height: 24px;
 border-radius: 50%;
 object-fit: cover;
}

.listItemCategories{
    display: flex;
    gap: 10px;
}

.listItemCategory{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
} 

.pagination {
    font-size: 20px;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 30px;
}

.page-item {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.page-item.active {
    background-color: var(--mainColor);
    color: var(--bg);
}

.page-item.disabled {
    background-color: #a5a5a5;
    cursor: not-allowed;
}
/* list end */

/* single start */

.singleHead{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.singleHeadTexts{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.singleHeadTitle{
    font-size: 42px;
}

.singleHeadDesc{
    font-size: 20px;
    font-weight: 300;

    overflow-wrap: break-word;  
}

.singleHeadDetail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.singleAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.singleTag {
    width: 350px;
}

.singleTag a{
    margin: 2px;
}

.singleCategory  {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    font-size: small;
}


.singleHeadImg{
    flex: 1;
    max-height: 350px;
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;

}

.singleBottom{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px ;
}

.singleContent{
    flex: 3;
    font-size: 20px;
    line-height: 32px;
}

.singleContent p{

}
.singleContent h1{
    background-color: var(--mainColor);
    color: var(--textSoft);
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
}
.singleContent h2{
    color: var(--mainColor);
    padding: 0.25em;
    margin-bottom: 10px;
    border-top: solid 2px #52c2cc;
    border-bottom: solid 2px #52c2cc;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.singleContent h3{
    color: var(--mainColor);
    position: relative;
    margin: 10px 0px;
}

.singleContent h3:after{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}


.singleContent pre{
    font-size: 18px;
    width: 100%;
    overflow-x: scroll;
    padding: 20px;
    border-radius: 10px;
}

.singleContent img{
    width: 100%;
    object-fit: cover;
}

.singleRightBar{
    flex: 1;
}

/* single end */


/* right bar start */

.rightBar{
    position: sticky;
    top: 100px;
    z-index: -1;
}

.rightBarImg{
    width: 80%;
    height: 80%;
    object-fit: cover;
    
}

.rightbarImgHr{
    display: none;
}

.agendaContainer {
    background-color: var(--subColor);
    border-radius: 5px;
    padding: 10px;

}
/* right bat end */

/* genre list start */

.genreList {

}

.genreList a{
    font-size: 38px;
}

/* genre list end */

@media (max-width:1536px) {
    .container {
        max-width: 1366px;
    }

}

@media (max-width:1336px) {
    .container {
        max-width: 1280px;
    }

    .listItem {
        width: 100%;
    }
}



@media (max-width:1280px) {
    .container {
        max-width: 1024px;
    }

}

@media (max-width:1024px) {
    .container {
        max-width: 768px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .listItemImage{
        width: 150px;
        height: 100px;
        object-fit: cover;
    }

    .listItemCategories{
        display: none;
    }

    .singleHead {
        flex-direction: column-reverse;
    }

    .singleHeadTitle{
        font-size: 28px;
        overflow-wrap: break-word;   
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .singleHeadDesc{
        font-size: 16px;
    }

    .singleBottom{
        flex-direction: column-reverse;
    }

    .rightBarImg{
        display: none;
    }

    .rightBarImgHr{
        display: block;
        width: 100%;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 640px;
    }
    /* .singleHeadImg{
        max-width: 300px;
    } */

    .listItemImage{
        display: none;
    }

    .links {
        font-size: 14px;
    }

}

@media (max-width:640px) {
    .container {
        max-width: 475px;
    }

        /* navbar start */

    .logo {
        font-size: 18px;
    }
    
        /* navbar end */
}